## Words

In [2]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [4]:
for i in words:
    print(i.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [5]:
fifs = []

for i in words:
    if len(i) >= 5:
        fifs.append(i)  
        print(i)

filling
theatre
easygoing
story
island

**Print the first word starting with "t"**

In [6]:
for i in words:
    if i.startswith("t"): 
        print(i)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [8]:
squares= []
for i in range(1,10):
    if i % 2 == 0:
        squares.append(i)
        print(i)

2
4
6
8

**Print a list containing the square of every odd number from 1 to 10**

In [9]:
odds= []
for i in range(1,10):
    if i % 2 != 0:
        odds.append(i)
        print(i)

1
3
5
7
9

**Create a list with the squares of all multiples of 8 below 1000**

In [ ]:
eights= []
for i in range(1,999):
    if i % 8 == 0:
        eights.append(i)
        print(i)

8
16
24
32
40
48
56
64
72
80
88
96
104
112
120
128
136
144
152
160
168
176
184
192
200
208
216
224
232
240
248
256
264
272
280
288
296
304
312
320
328
336
344
352
360
368
376
384
392
400
408
416
424
432
440
448
456
464
472
480
488
496
504
512
520
528
536
544
552
560
568
576
584
592
600
608
616
624
632
640
648
656
664
672
680
688
696
704
712
720
728
736
744
752
760
768
776
784
792
800
808
816
824
832
840
848
856
864
872
880
888
896
904
912
920
928
936
944
952
960
968
976
984
992

## People

In [11]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [12]:
print(len(people))

5

**How many people have kids**?

In [16]:
with_kids = 0
for i in people:
    if i["n_kids"] > 0:
        with_kids+=1
print(with_kids)

4

**How many kids do they have in total?**

In [17]:
total_kids = 0
for i in people:
    if i["n_kids"] > 0:
        total_kids+=i["n_kids"]
print(total_kids)

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [19]:
year_time = []
for i in people:
    if i["name"].endswith("a"): 
        i["n_kids"]+=1
        year_time.append(i)
        print(i)

{'name': 'Sonia', 'age': 41, 'n_kids': 2}
{'name': 'Lucía', 'age': 22, 'n_kids': 3}